body 
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #424242;
}

.button-container 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.user-button 
{
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.user-button:hover
{
    transform: translateY(-50%);
}

.user-button img 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.user-button .textbox 
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

.user-button:hover .textbox 
{
    opacity: 1;
}

.user-button .header 
{
    top: 100px;
    font-size: 14px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 20px;
    border-radius: 15px;
    white-space: nowrap;
}

.user-button .body 
{
    top: 140px; /* Position the body below the header */
    font-size: 12px;
    width: 150px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.user-button.active 
{
    transform: translateY(-50px);
}

.user-button.active .textbox {
    opacity: 1;
}
